$primary-font: 'El Messiri', serif;
$secondary-font: 'Cuprum', sans-serif;

$black: #000000;
$white: #ffffff;
$light: hsl(0, 0%, 96%);
$dark: hsl(0, 0%, 21%);

$primary-color: #4e8450;

$sidebar-width: 200px;