@import "_variables";
body {
    font-family: $primary-font;
    background-color: $light;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $secondary-font;
}

a {
    color: $primary-color;
    &:visited {
        color: darken($primary-color, 10%);
    }
    &:hover {
        color: lighten($primary-color, 10%);
    }
}

.container {
    width: 70%;
    margin: auto;
    overflow: hidden;
}

header {
    min-height: 70px;
    .container {
        border-bottom: 1px solid darken($light, 10%);
        text-align: center;
    }
}

footer {
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

.is-primary {
    color: $primary-color;
}

.logo-header {
    font-size: 48px;
    margin-bottom: 10px;
}

.logo-subheader {
    margin: 5px;
    font-size: 24px;
}

.section-header {
    margin-left: $sidebar-width;
}

.cv-item-content {
    margin-left: $sidebar-width;
    text-align: justify;
}

.cv-item-header {
    margin-left: $sidebar-width;
    color: $primary-color;
}

.cv-item-sidebar {
    float: left;
    width: $sidebar-width;
}

.cv-item-date {
    font-style: italic;
    margin: 0;
    padding: 0;
}

.cv-item-keywords {
    color: lighten($black, 50%);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.logo-subheader {
    a {
        text-decoration: none;
    }
}

.lang-selector {
    float: right;
    margin-top: 5px;
}

@media(max-width: 768px) {
    .container {
        width: 95%;
    }
    .cv-item-sidebar {
        float: none;
        width: 100%;
    }
    .cv-item-content {
        margin-left: 0;
    }
    .cv-item-header {
        margin-left: 0;
    }
    .section-header {
        margin-left: 0;
    }
}