<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A resume of the full-stack web-developer">
    <meta name="author" content="{{ author.firstName }}">

    <title>{{ author.firstName }} - CV</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri" rel="stylesheet">

    <link rel="stylesheet" href="./node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="./dist/styles/style.css">
</head>

<body>

    <header>
        <div class="container">
            <h1 class="logo-header">
                <span class="is-primary">A</span>ben
                <span class="is-primary">A</span>yazbayev
            </h1>
            <p class="logo-subheader">
                <span class="fab fa-github"></span>
                <span class="fab fa-skype"></span>
                <span class="fas fa-at"></span>
            </p>
        </div>
    </header>

    <section>
        <div class="container main">

            <h1 class="section-header">Projects</h1>

            <article class="cv-item-container">

                <h2 class="cv-item-header">Sample project</h2>

                <aside class="cv-item-sidebar">
                    <p class="cv-item-date">2018 Feb - Mar</p>
                    <p class="cv-item-keywords">.NET, ASP.NET Core</p>
                </aside>

                <section class="cv-item-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel leo lorem. Duis varius eu orci non varius. Fusce vel ligula
                        tortor. Aenean blandit sapien tellus, at feugiat nisi venenatis eget. Fusce pharetra dignissim lorem
                        vitae semper. Duis eleifend lectus odio, ut convallis felis tempus porttitor. Praesent eleifend,
                        lacus vitae mattis ultricies, libero quam suscipit dui, at suscipit felis orci eget arcu. Sed a est
                        at nulla viverra ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas. Suspendisse in ex felis. Proin at eleifend nisl, nec auctor enim. Suspendisse
                        quis libero molestie, sollicitudin ex ac, hendrerit leo.
                    </p>
                </section>
            </article>

            <h1 class="section-header">Education</h1>

            <article class="cv-item-container">

                <h2 class="cv-item-header">University</h2>

                <aside class="cv-item-sidebar">
                    <p class="cv-item-date">2018 Feb - Mar</p>
                    <p class="cv-item-keywords">.NET, ASP.NET Core</p>
                </aside>

                <section class="cv-item-content">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel leo lorem. Duis varius eu orci non varius. Fusce vel ligula
                        tortor. Aenean blandit sapien tellus, at feugiat nisi venenatis eget. Fusce pharetra dignissim lorem
                        vitae semper. Duis eleifend lectus odio, ut convallis felis tempus porttitor. Praesent eleifend,
                        lacus vitae mattis ultricies, libero quam suscipit dui, at suscipit felis orci eget arcu. Sed a est
                        at nulla viverra ornare. Pellentesque habitant morbi tristique senectus et netus et malesuada fames
                        ac turpis egestas. Suspendisse in ex felis. Proin at eleifend nisl, nec auctor enim. Suspendisse
                        quis libero molestie, sollicitudin ex ac, hendrerit leo.
                    </p>
                </section>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>Copyright 2018</p>
        </div>
    </footer>

</body>

</html>