<!DOCTYPE html>
<html lang="en">
{% set fullName = author.firstName + " " + author.lastName %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="A resume of the full-stack web-developer">
    <meta name="author" content="{{ fullName }}">

    <title>{{ fullName }} - CV</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/regular.css" integrity="sha384-A/oR8MwZKeyJS+Y0tLZ16QIyje/AmPduwrvjeH6NLiLsp4cdE4uRJl8zobWXBm4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/brands.css" integrity="sha384-IiIL1/ODJBRTrDTFk/pW8j0DUI5/z9m1KYsTm/RjZTNV8RHLGZXkUDwgRRbbQ+Jh"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P"
        crossorigin="anonymous">

    <link href="https://fonts.googleapis.com/css?family=Cuprum|El+Messiri" rel="stylesheet">

    <link rel="stylesheet" href="./node_modules/normalize.css/normalize.css">
    <link rel="stylesheet" href="./dist/styles/style.css">
</head>

<body>

    <header>
        <div class="container">
            <div class="lang-selector">
                EN |
                <a href="/index_ru.html">RU</a>
            </div>
            <h1 class="logo-header">
                <span class="is-primary">A</span>ben
                <span class="is-primary">A</span>yazbayev
            </h1>
            <div>
                <p class="logo-subheader">
                    <a href="https://github.com/{{author.github}}" class="fab fa-github"></a>
                    <a href="skype:{{author.skype}}" class="fab fa-skype"></a>
                    <a href="mailto:{{author.email}}" class="fas fa-at"></a>
                    <a href="{{author.pdf_link_en}}" class="fas fa-file-pdf"></a>
                </p>
            </div>
        </div>
    </header>

    <section>
        <div class="container main">
            <h1 class="section-header">Projects</h1>

            {% for x in projects %}

            <article class="cv-item-container clearfix">
                {% if !!x.link.length %}
                <a href="{{x.link}}">
                    <h2 class="cv-item-header">{{x.name}}</h2>
                </a>
                {% else %}
                <h2 class="cv-item-header">{{x.name}}</h2>
                {% endif %}
                <aside class="cv-item-sidebar">
                    <p class="cv-item-date">{{x.startDate|date("M, Y")}} - {{x.endDate|date("M, Y")}}</p>
                    <p class="cv-item-keywords">{{x.keywords}}</p>
                </aside>

                <section class="cv-item-content">
                    <p>
                        <strong>Sources:</strong>
                        <a href={{x.githubLink}}>{{x.githubLink}}</a>
                    </p>
                    <p>
                        {{x.content}}
                    </p>
                </section>
            </article>

            {% endfor %}

            <h1 class="section-header">Education</h1>

            {% for y in education %}

            <article class="cv-item-container clearfix">

                <h2 class="cv-item-header">{{y.degree.name}}</h2>

                <aside class="cv-item-sidebar">
                    <p class="cv-item-date">{{y.degree.startDate|date("Y")}} - {{y.degree.endDate|date("Y")}}</p>
                </aside>

                <section class="cv-item-content">
                    <p>
                        {{y.degree.place}}
                    </p>
                </section>
            </article>

            {% endfor %}

            <h1 class="section-header">Hobbies</h1>

            <article class="cv-item-container">
                <section class="cv-item-content">
                    <p>
                        {{hobbies}}
                    </p>
                </section>
            </article>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>{{fullName}}, Copyright 2018</p>
        </div>
    </footer>

</body>

</html>